# This file lists the python packages that your software depends on
# for development.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
-r requirements.txt
coverage
mock
pyfakefs
parameterized
pylint==2.7.2
sphinx>=2.2.1
sphinx_rtd_theme>=0.4.3
pyinstaller
pytest
tox
